    <div class="drinkListItem" id="drink{{id}}">
        <div class="drinkcard {{id}}">
            <p class="drinkDescriptions">
                {{name}} <br>
                ${{price}} <br>
                {{type}}
            </p>
            <button class="editDrink btn btn-light" data-id="{{id}}">Edit Drink</button>
            <button class="deleteDrink btn btn-danger" data-id="{{id}}">Delete</button>
        </div>
    </div>