<div class="drinkListItem" id="drink{{id}}">
    <div class="drinkcard {{id}}">
        <p class="drinkDescriptions">
            {{name}} <br>
            ${{price}} <br>
            {{type}}
        </p>
    </div>
</div>