<div class="breweryListItem" id="br{{id}}">
        <p class="breweryDescription">
            {{brewer_name}}<br>
            {{address}}
        </p>
    <button class="addDrinks btn btn-light" data-id="{{id}}">Add Drinks</button>
    <button class="deleteBrewery btn btn-danger" data-id="{{id}}">Delete</button>
</div>